.wrapper {
    background-image: url(https://media.staticontent.com/media/pictures/956c4f20-ee32-4b2f-85d5-9b6f8e3e7156);  
}
  
.body {
    padding: 25px;
    background-color: azure;
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 400px;
    box-shadow: 7px 13px 37px #000;
}
  
  