<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link button-nabvar" routerLink="/home"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-nabvar" routerLink="/dashboard" href="#"><i class="fas fa-chart-bar"></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-nabvar" routerLink="/survey" href="#"><i class="fas fa-clipboard-list"></i> Formulario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link button-nabvar" routerLink="/infocard" href="#"><i class="fas fa-info"></i> Info-Cartas</a>
                </li>
            </ul>
            <a class="navbar-brand" href="#"><img src="../../../assets/imgs/logoRioCeballos.png"
                    alt="Logo Rio Ceballo" style="height: 43px; margin-left: 225px;"></a>
        </div>

        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
            <button class="button-su-li" *ngIf="!isLoggedIn" routerLink="/login">Iniciar sesión</button>
            <button class="button-su-li" *ngIf="!isLoggedIn" routerLink="/signup">Registrarse</button>
            <button class="button-logout" (click)="logout()" *ngIf="isLoggedIn" routerLink="/home">Cerrar sesión</button>
        </div>
    </div>
</nav>