<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Fin Navbar -->

<!-- Main -->
<main>
    <!-- Carousel de la pagina de Inicio -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    
      <div class="carousel-inner">
          <div class="carousel-item active c-item">
              <img src="../../../assets/imgs/RioCentro3.jpeg" class="d-block w-100 c-img" alt="Slide 1">
              <div class="carousel-caption top-0 mt-4">
                  <p class="mt-5 fs-3 text-uppercase">Tu Lugar Favorito</p>
                  <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/Rio4.jpeg" class="d-block w-100 c-img" alt="Slide 2">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Vive tu aventura</p>
                <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/cristoniupora3.jpg" class="d-block w-100 c-img" alt="Slide 3">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Un paraiso perfecto</p>
                <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Fin del Carousel de la pagina de Inicio -->
    <div class="fondo">
        
      <!-- Historia Rio Ceballos de la pagina de Inicio -->
      <div class="history-text">
          <figure class="text-center">
              <figcaption class="blockquote-footer">
                  Entre montañas y ríos, tu belleza se despliega, Rio Ceballos, joya serena de la naturaleza.
              </figcaption>
                  <div class="text-container">
                      <p class="text-important">
                          <b>Rio Ceballos</b>, situada en las <b>Sierras Chicas de Córdoba</b>, tiene raíces precolombinas que dejaron una rica herencia cultural en el entorno y las tradiciones locales. 
                          A pesar de no encontrar tesoros, descubrieron la riqueza de la <b>naturaleza</b>. Esto atrajo a viajeros en busca de serenidad en medio de paisajes montañosos, ríos y cascadas. 
                          En el siglo XX, el turismo creció con la construcción de infraestructuras, pero <b>Rio Ceballos</b> mantuvo su encanto auténtico y sus conexiones con la historia y tradiciones. 
                          Ofrece actividades al aire libre, festivales culturales y una experiencia única que combina historia y naturaleza. 
                          Un lugar mágico en <b>Argentina</b> que ha dejado huella en la historia y en los corazones de sus visitantes.
                      </p>
                  </div>
          </figure>
      </div>
      <!-- Fin Historia Rio Ceballos de la pagina de Inicio -->
    
            <!-- Cards Informativas Hardcodeadas -->
            <section id="gallery">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Informacion.jpeg" alt="Info-turismo" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Información Turística</h5>
                                  <p class="card-text">Sus principales atractivos incluyen hermosas playas de arena dorada a lo largo del río.</p>
                              </div>
                        </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Hoteleria1.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Hospedaje y Alojamiento</h5>
                                  <p class="card-text">Desde cómodos hoteles y acogedores hostales hasta pintorescas cabañas y campings.</p>
                              </div>
                          </div>
                      </div>
        
                      <!-- <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Transportes.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Transporte y Cómo Moverse</h5>
                                  <p class="card-text">El transporte en esta ciudad se permiten moverse por el área urbana y sus alrededores.</p>
                              </div>
                          </div>
                      </div> -->
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Eventos-Actividades.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Eventos y Activades</h5>
                                  <p class="card-text">Rio Ceballos, un hermoso destino turístico en Argentina, ofrece una amplia variedad de eventos y actividades para disfrutar de su encanto natural y cultural.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Restaurante.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Restaurantes y gastronomía</h5>
                                  <p class="card-text">Los restaurantes en Rio Ceballos ofrecen una amplia variedad de platos típicos, como las famosas empanadas cordobesas, asados de carne de alta calidad, truchas de río frescas y sabrosos chivitos a la llama.</p>
                              </div>
                          </div>
                      </div>
        
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/maps.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Mapas y Guías</h5>
                                  <p class="card-text">Rio Ceballos, cuenta con diversos mapas y guías que te ayudarán a explorar su encanto natural.
                                                          Los mapas detallados te conducirán por senderos montañosos, ríos cristalinos y cascadas impresionantes.</p>
                              </div>
                          </div>
                      </div>
        
                      <!-- <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/Cultura-Idioma.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Idioma y Cultura Local</h5>
                                  <p class="card-text">La  lengua  predominante  en  la  región  es  el  español, pero  es  común  encontrar  una  variante local del idioma con expresiones y modismos particulares.</p>
                              </div>
                          </div>
                      </div> -->
        
                      <!-- <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/SeguridadEmergencias.jpeg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Seguridad y Emergencias</h5>
                                  <p class="card-text">La combinación de medidas de seguridad y protocolos de emergencia es esencial para mantener un entorno seguro y preparado ante cualquier eventualidad.</p>
                              </div>
                          </div>
                      </div> -->
                      <div class="col-lg-4 mb-4">
                        <div class="card w-80">
                          <img src="../../../assets/imgs/riosybalnearios.jpg" alt="" class="card-img-top card-image">
                              <div class="card-body">
                                  <h5 class="card-title">Rios y Balnearios</h5>
                                  <p class="card-text">Rio Ceballos es el destino turístico con más cursos de agua de Córdoba, está surcada por tres ríos e infinidad de arroyos.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- Fin Cards Informativas -->

      <!-- INFOCARD SECTION -->
      <section id="gallery">
          <div class="container">
            <div class="row">
              <!-- COMPONENT INFOCARD -->
              <div>
                <app-info-cards 
                    *ngFor="let infoCard of infoCards"
                    [infoCard]="infoCard"
                ></app-info-cards>
              </div>
              
            </div>
          </div>
      </section>
    </div>
      <!-- FIN INFOCARD SECTION -->
</main>
<!-- Fin Main -->

    <!-- Footer -->
<app-footer></app-footer>
    <!-- Fin Footer -->
