xº<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Fin Navbar -->

<!-- Main -->
<main>
    <!-- Carousel de la pagina de Inicio -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
    
      <div class="carousel-inner">
          <div class="carousel-item active c-item">
              <img src="../../../assets/imgs/RioCentro3.jpeg" class="d-block w-100 c-img" alt="Slide 1">
              <div class="carousel-caption top-0 mt-4">
                  <p class="mt-5 fs-3 text-uppercase">Tu Lugar Favorito</p>
                  <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/Rio4.jpeg" class="d-block w-100 c-img" alt="Slide 2">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Tu Lugar Favorito</p>
                <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
          <div class="carousel-item c-item">
              <img src="../../../assets/imgs/Rio7.jpeg" class="d-block w-100 c-img" alt="Slide 3">
              <div class="carousel-caption top-0 mt-4">
                <p class="mt-5 fs-3 text-uppercase">Tu Lugar Favorito</p>
                <h1 class="display-1 fw-bolder text-capitalize">Rio Ceballos</h1>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Fin del Carousel de la pagina de Inicio -->
    
      <!-- Historia Rio Ceballos de la pagina de Inicio -->
      <div class="history-text">
          <figure class="text-center">
              <figcaption class="blockquote-footer">
                  Entre montañas y ríos, tu belleza se despliega, Rio Ceballos, joya serena de la naturaleza.
              </figcaption>
                  <div class="text-container">
                      <p class="text-important">
                          Las raíces de Rio Ceballos se remontan a la época precolombina, cuando las culturas comechingonas y sanavironas poblaban esta región montañosa.
                          Estos antiguos habitantes dejaron su legado cultural impreso en el paisaje y las tradiciones, que aún se pueden apreciar en la actualidad.
                          Aunque no hallaron los tesoros esperados, descubrieron en cambio la inigualable riqueza de la tierra y la naturaleza que rodea esta encantadora localidad.
                          Esto marcó un hito en el desarrollo del turismo en la zona, atrayendo a viajeros ávidos de explorar estos paisajes montañosos y deleitarse con la tranquilidad y serenidad que ofrecía.
                          Las postales de montañas verdes, ríos cristalinos y cascadas cristalinas pronto comenzaron a circular, atrayendo la atención de personas de todas partes, que buscaban refugiarse del bullicio de las ciudades y encontrar una conexión profunda con la naturaleza.
                          El atractivo de Rio Ceballos se consolidó aún más en el siglo XX, cuando la construcción de infraestructuras turísticas, como hoteles, balnearios y centros recreativos, dio lugar a un floreciente sector turístico en la región. Sin embargo, a pesar de su crecimiento y modernización, Rio Ceballos ha sabido preservar su esencia, manteniendo su encanto auténtico y su conexión con la historia y las tradiciones locales.
                          Las actividades al aire libre abundan, ofreciendo opciones para los amantes del senderismo, deportes acuáticos y la contemplación de la naturaleza en su estado más puro.
                          Además, festivales culturales, como el Festival Nacional del Folklore, dan vida a las tradiciones locales y dan muestra de la riqueza cultural de la zona.
                          Rio Ceballos es mucho más que un destino turístico, es un rincón mágico en las Sierras de Córdoba que combina su rica historia con la belleza cautivante de su entorno natural. Desde sus inicios precolombinos hasta su auge como un destino turístico renombrado, Rio Ceballos ha dejado una huella en la historia argentina y en los corazones de quienes la visitan. Un lugar donde la historia y la naturaleza se fusionan para crear una experiencia única y fascinante.
                      </p>
                  </div>
          </figure>
      </div>
      <!-- Fin Historia Rio Ceballos de la pagina de Inicio -->
    
      <!-- Cards Informativas -->
      <section id="gallery">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Informacion.jpeg" alt="Info-turismo" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Información Turística</h5>
                              <p class="card-text">Sus principales atractivos incluyen hermosas playas de arena dorada a lo largo del río, ideales para disfrutar del sol y las aguas cristalinas. Además, el lugar es conocido por sus cascadas, senderos de trekking y la posibilidad de practicar actividades de aventura como el rappel y el tirolesa. La arquitectura de estilo serrano y la calidez de su gente completan la experiencia, haciendo de Rio Ceballos un destino perfecto para relajarse y conectarse con la naturaleza.</p>
                          </div>
                    </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Hoteleria1.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Hospedaje y Alojamiento</h5>
                              <p class="card-text">Desde cómodos hoteles y acogedores hostales hasta pintorescas cabañas y campings, los viajeros encontrarán alternativas para todos los gustos y presupuestos. Disfruta de la belleza natural de la zona y relájate en tu lugar de alojamiento después de explorar sus encantadores paisajes, ríos y montañas.</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Transportes.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Transporte y Cómo Moverse</h5>
                              <p class="card-text">El transporte en esta ciudad se basa principalmente en servicios de buses y taxis locales que permiten moverse por el área urbana y sus alrededores.
                                                      ¿Cómo Moverse en Rio Ceballos? Autobuses locales,Rio Ceballos cuenta con una red de transporte público de autobuses que conecta diferentes puntos dentro de la ciudad y sus cercanías.</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Eventos-Actividades.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Eventos y Activades</h5>
                              <p class="card-text">Rio Ceballos, un hermoso destino turístico en Argentina, ofrece una amplia variedad de eventos y actividades para disfrutar de su encanto natural y cultural.
                                                      Además, Rio Ceballos ofrece oportunidades para practicar deportes acuáticos, como kayak y rafting, en el río cristalino.
                                                          Toda esta diversidad hace que Rio Ceballos sea un lugar especial para crear recuerdos inolvidables.</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Restaurante.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Restaurantes y gastronomía</h5>
                              <p class="card-text">Los restaurantes en Rio Ceballos ofrecen una amplia variedad de platos típicos, como las famosas empanadas cordobesas, asados de carne de alta calidad, truchas de río frescas y sabrosos chivitos a la llama.
                                                      Muchos de estos restaurantes están ubicados en escenarios naturales encantadores, ofreciendo vistas panorámicas de las montañas y el río Rio Ceballos.</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/maps.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Mapas y Guías</h5>
                              <p class="card-text">Rio Ceballos, un hermoso destino turístico en Argentina, cuenta con diversos mapas y guías que te ayudarán a explorar su encanto natural.
                                                      Los mapas detallados te conducirán por senderos montañosos, ríos cristalinos y cascadas impresionantes.
                                                          ¡Sumérgete en la belleza de Rio Ceballos con la ayuda de sus mapas y guías!</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/Cultura-Idioma.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Idioma y Cultura Local</h5>
                              <p class="card-text">La lengua predominante en la región es el español, pero es común encontrar una variante local del idioma con expresiones y modismos particulares.
                                                  Los habitantes de Rio Ceballos son conocidos por su hospitalidad y apego a las costumbres ancestrales, lo que permite a los visitantes sumergirse en una experiencia auténtica y enriquecedora.</p>
                          </div>
                      </div>
                  </div>
    
                  <div class="col-lg-4 mb-4">
                    <div class="card w-80">
                      <img src="../../../assets/imgs/SeguridadEmergencias.jpeg" alt="" class="card-img-top card-image">
                          <div class="card-body">
                              <h5 class="card-title">Seguridad y Emergencias</h5>
                              <p class="card-text">Seguridad y Emergencias en Rio Ceballos se refiere a las medidas y protocolos implementados para garantizar la protección de personas, infraestructuras y el medio ambiente en esta localidad situada en Argentina, que es conocida por sus actividades mineras.
                              La combinación de medidas de seguridad y protocolos de emergencia es esencial para mantener un entorno seguro y preparado ante cualquier eventualidad en la actividad minera de Rio Ceballos.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- Fin Cards Informativas -->
    </main>
    <!-- Fin Main -->

    <!-- Footer -->
<app-footer></app-footer>
    <!-- Fin Footer -->