<app-navbar></app-navbar>

<div class="fondo">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/museocapillahistorica.jpg" class="card-img-top" alt="Slide 1">
                        <div class="card-body">
                            <h5 class="card-title">Museo Capilla Histórica</h5>
                            <p class="card-text">Es el museo más antiguo de la localidad. Ofrece la muestra colectiva de artistas locales “Musas en la Noche”, con obras, fotos y música.</p>
                            <a href="https://maps.app.goo.gl/Jy1zFrDzZPdNsZ9S8" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/Balneario.jpg" class="card-img-top" alt="Slide 2">
                        <div class="card-body">
                            <h5 class="card-title">Balneario De Rio Ceballos</h5>
                            <p class="card-text">Hay tres balnearios hermosos como: Cascada Los Hornillos, Villa Los Altos, Balneario Embalse La Quebrada y  típico puente colgante sobre el río.</p>
                            <a href="https://maps.app.goo.gl/YxsQh2hNF8bMQw8G8" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/museocasonamunicipal.jpg" class="card-img-top" alt="Slide 3">
                        <div class= "card-body">
                            <h5 class="card-title">Museo La Casona Municipal</h5>
                            <p class="card-text">Muy bueno el museo, es pequeño pero con piezas de gran valor histórico. Ideal para conocer y aprender en familia.</p>
                            <a href="https://maps.app.goo.gl/qGteaLh2ESB97jmw9" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/puentescolg1.jpg" class="card-img-top" alt="Slide 4">
                        <div class="card-body">
                            <h5 class="card-title">Puentes colgantes</h5>
                            <p class="card-text">Un paseo de todo el día que le hará recorrer el corazón de Traslasierra y sorprenderse con su naturaleza virgen. Tiene variedad de excursión en los sitios.</p>
                            <a href="https://maps.app.goo.gl/yGLgj6YWT1uLJTj1A" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/elefantes2.jpg" class="card-img-top" alt="Slide 5">
                        <div class="card-body">
                            <h5 class="card-title">Balneario Los Elefantes</h5>
                            <p class="card-text">Sobre el cauce del río de Los Sauces se encuentran Los Elefantes, donde el agua transita la cuenca cerrada, formando rápidos y profundas ollas.</p>
                            <a href="https://maps.app.goo.gl/hxZTjHgQQomjbZX28" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/cascada.jpg" class="card-img-top" alt="Slide 6">
                        <div class="card-body">
                            <h5 class="card-title">Cascada Los Hornillos</h5>
                            <p class="card-text">Cascada natural de gran atractivo, por su encauce entre dos altos peñascos utilizados por los valerosos para realizar saltos a la olla profunda.</p>
                            <a href="https://maps.app.goo.gl/RTJd8Bm5zLF3VQG86" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/aguila.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Balneario Nido Del Aguila</h5>
                            <p class="card-text">En este lugar el río  se encajona entre paredones de granito modelados por la erosión del aire y del agua.</p>
                            <a href="https://maps.app.goo.gl/fq5o9LSMS19JaW4Q8" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/nacimiento.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nacimiento Del Rio Mina Clavero</h5>
                            <p class="card-text">Esta espectacular caída de agua de 102 metros representa el poder de la naturaleza en su máxima expresión.</p>
                            <a href="https://maps.app.goo.gl/yJtYyAP1cuv4QyJbA" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 d-none d-md-block">
                    <div class="card custom-card h-100">
                        <img src="../../../assets/imgs/SantaTeresa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Balneario Santa Teresa</h5>
                            <p class="card-text">Extenso balneario en las sierras, en el nacimiento del Río Hondo. Ideal para pasar el día y disfrutar del agua en todas sus variantes.</p>
                            <a href="https://maps.app.goo.gl/6nfe3MCg2Dexi6Mi8" target="_blank" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

<div class="fondo">
  <!-- Historia Rio Ceballos -->
  <div class="history-text">
      <figure class="text-center">
          <figcaption class="blockquote-footer">
                  Entre montañas y ríos, tu belleza se despliega, Rio Ceballos, joya serena de la naturaleza.
          </figcaption>
              <div class="text-container">
                  <p class="text-important">
                      Las raíces de Rio Ceballos se remontan a la época precolombina, cuando las culturas comechingonas y sanavironas poblaban esta región montañosa.
                      Estos antiguos habitantes dejaron su legado cultural impreso en el paisaje y las tradiciones, que aún se pueden apreciar en la actualidad.
                      Aunque no hallaron los tesoros esperados, descubrieron en cambio la inigualable riqueza de la tierra y la naturaleza que rodea esta encantadora localidad.
                      Esto marcó un hito en el desarrollo del turismo en la zona, atrayendo a viajeros ávidos de explorar estos paisajes montañosos y deleitarse con la tranquilidad y serenidad que ofrecía.
                      Las postales de montañas verdes, ríos cristalinos y cascadas cristalinas pronto comenzaron a circular, atrayendo la atención de personas de todas partes, que buscaban refugiarse del bullicio de las ciudades y encontrar una conexión profunda con la naturaleza.
                      El atractivo de Rio Ceballos se consolidó aún más en el siglo XX, cuando la construcción de infraestructuras turísticas, como hoteles, balnearios y centros recreativos, dio lugar a un floreciente sector turístico en la región. Sin embargo, a pesar de su crecimiento y modernización, Rio Ceballos ha sabido preservar su esencia, manteniendo su encanto auténtico y su conexión con la historia y las tradiciones locales.
                      Las actividades al aire libre abundan, ofreciendo opciones para los amantes del senderismo, deportes acuáticos y la contemplación de la naturaleza en su estado más puro.
                      Además, festivales culturales, como el Festival Nacional del Folklore, dan vida a las tradiciones locales y dan muestra de la riqueza cultural de la zona.
                      Rio Ceballos es mucho más que un destino turístico, es un rincón mágico en las Sierras de Córdoba que combina su rica historia con la belleza cautivante de su entorno natural. Desde sus inicios precolombinos hasta su auge como un destino turístico renombrado, Rio Ceballos ha dejado una huella en la historia argentina y en los corazones de quienes la visitan. Un lugar donde la historia y la naturaleza se fusionan para crear una experiencia única y fascinante.
                  </p>
              </div>
      </figure>
  </div>
</div>
  <!-- Fin Historia Rio Ceballos de la pagina de Inicio -->

<app-footer></app-footer>