<app-navbar-sec></app-navbar-sec>
<!-- Tabla de INFOCARDS -->
<div class="container">
  <div class="title">
      <h1>Lista de Cartas Informativas</h1>
      <button type="button" class="btn btn-success" routerLink="/infocard-add">Agregar Carta Informativa</button>        
  </div>

  <table *ngIf="listInfoCards.length > 0" class ="table table-dark">
      <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Categoria</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripción</th>
            <th scope="col">Imagen</th>
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let infoCard of listInfoCards" class="table-active">
            <th scope="row">{{ infoCard.id }}</th>
            <td>{{ infoCard.category }}</td>
            <td>{{ infoCard.title }}</td>
            <td>{{ infoCard.description }}</td>
            <td>{{ infoCard.imageUrl }}</td>
            <td>
                <button routerLink="/infocard-edit/{{ infoCard.id }}" type="button" class="btn btn-info btn-sm">Editar</button>
                <button (click)="deleteInfoCard(infoCard.id!)" type="button" class="btn btn-danger btn-sm ms-2">Borrar</button>
            </td>
        </tr>
      </tbody>
  </table>
    <h5 *ngIf="listInfoCards.length == 0">No hay Carta Informativa para mostrar</h5>
</div>
<!-- Fin Tabla de INFOCARD -->