<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" routerLink=""><img src="../../../assets/imgs/logoRioCeballos.png" alt="Logo Rio Ceballos" style="height: 43px;"></a>
      <!--a class="navbar-brand col-lg-3 me-0" routerLink="">Rio Ceballos</a-->
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <button class="button-nabvar" aria-current="page" routerLink="">Inicio</button>
          <button class="button-nabvar" routerLink="/places">Lugares</button>
          <button class="button-nabvar" routerLink="/form">Formulario</button>
          <button class="button-nabvar" onclick="window.open('http://localhost:8080', '_blank');">Tienda</button>
          <a href="https://maps.app.goo.gl/MSf84k25wT53nme38" target="_blank">
          <button class="button-nabvar"><i class="fas fa-map"></i></button>       
          </a>
        </li>
      </ul>

      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button class="button-su-li" *ngIf="!isLoggedIn" routerLink="/login">Inicar sesion</button>
        <button class="button-su-li" *ngIf="!isLoggedIn" routerLink="/signup">Registrarse</button>
        <button class="button-logout" (click)="logout()" *ngIf="isLoggedIn" routerLink="/home">Cerrar sesión</button>
      </div>

    </div>
  </div>
</nav>
<!-- Fin Navbar -->