<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
        <a class="navbar-brand col-lg-3 me-0" routerLink=""><img src="../../../assets/imgs/logoMinaClavero.png" alt="Logo Mina Clavero" style="height: 43px;"></a>
        <!--a class="navbar-brand col-lg-3 me-0" routerLink="">Mina Clavero</a-->
        <ul class="navbar-nav col-lg-6 justify-content-lg-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
          </li>
          <!--li class="nav-item">
            <a class="nav-link" routerLink="/encuesta">Encuesta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li-->
        </ul>

        <div class="d-lg-flex col-lg-3 justify-content-lg-end">
          <button class="btn btn-warning" routerLink="/formulario">Formulario</button>
          <!--button class="btn btn-danger" routerLink="/login">Salir</button-->
        </div>

      </div>
    </div>
  </nav>
<!-- Fin Navbar -->